camel:
  server-port: 5000
  springboot:
    main-run-controller: true
  dataformat:
    jackson:
      auto-discover-object-mapper: true

zeebe:
  client:
    max-execution-threads: 100
    number-of-workers: 5
    evenly-allocated-max-jobs: "#{${zeebe.client.max-execution-threads} / ${zeebe.client.number-of-workers}}"
    ttl: 30000
  broker:
    contactpoint: "localhost:26500"

skip:
  enabled: false

airtel:
  api:
    base-url: https://openapiuat.airtel.africa
    auth-endpoint: /auth/oauth2/token
    collection-endpoint: /merchant/v1/payments/
    status-endpoint: /standard/v1/payments
  credentials:
    zambia:
      client-id: "abc"
      client-secret: "xyz"
      grant-type: "client_credentials"
    rwanda:
      client-id: "abc"
      client-secret: "xyz"
      grant-type: "client_credentials"
  max-retry-count: 3
  timeout: 6000

countryCodes: '{"rwf": "RW", "ugx": "UG", "kes": "KE", "mwk": "MW", "zmw": "ZM", "zmk": "ZM"}'

transaction-id-prefix: oaf-

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  endpoint:
    health:
      group:
        liveness:
          include: livenessState
        readiness:
          include: readinessState
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

logging:
  level:
    ROOT: INFO

channel:
  host: "http://localhost:8022"

paybill:
  account-holding-institution-id: oaf
  timer: "PT45S"
  ams-short-codes:
    123456:
      ams-name: roster
      ams-url: http://localhost:5004
      identifier: ACCOUNTID
    789012:
      ams-name: fineract
      ams-url: http://localhost:5005
      identifier: FINERACTACCOUNTID
  default-short-code: 123456

server:
  port: 8023